h1 { 
    text-align: center;
    font-weight:400;
    margin: 16px 0;
    font-size: 32px;
    color:#000000;
    line-height: 1.25;
    border-bottom: 3px #000000;
    text-decoration-line: underline;
}

h2 {
    text-align: center;
    font-weight:300;
    margin: 16px 0;
    font-size: 28px;
    color:#000000;
    line-height: 1.25;
}

p {
    text-align: center;
    font-weight:300;
    margin: 16px 0;
    font-size: 16px;
    color:#000000;
    line-height: 1.25;
    text-decoration-line: underline;
}

Footer {
    text-align: center;
    font-weight:300;
    margin: 16px 0;
    font-size: 14px;
    color:#000000;
    line-height: 1.25;
    text-decoration-line: underline;
}