#navbar {
    list-style-type: none;
    margin-bottom: auto;
    padding: auto;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 1;
    
}

.link{
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;

}

.link_active{
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(34,65,111);
}

.link:hover{
    background-color: rgb(34,65,111);
    color: white;
}

#page{
    margin: 5vh;
    z-index: 2;
}

#logo { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h1 { 
    text-align: center;
    font-weight:400;
    margin: 16px 0;
    font-size: 32px;
    color:#000000;
    line-height: 1.25;
    border-bottom: 3px #000000;
    text-decoration-line: underline;
}

h2 {
    text-align: center;
    font-weight:300;
    margin: 16px 0;
    font-size: 28px;
    color:#000000;
    line-height: 1.25;
}

p {
    font-weight:300;
    margin: 16px 0;
    font-size: 16px;
    color:#000000;
    line-height: 1.25;
}

Footer {
    text-align: center;
    font-weight:300;
    margin: 16px 0;
    font-size: 14px;
    color:#000000;
    line-height: 1.25;
    text-decoration-line: underline;
}

#index_text_map {
    left:50%;
    top:50%;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    padding: 20px;
}

#index_text{
    width: 90%;
    flex: 60%;
}

#index_map{ 
    align-self: center;
    width: 90%;
    flex: 40%;
    height: 70vh;
    padding-top: 15px;
    padding-left: 30px;
}

#graph_total{
    margin: auto;
    width: 90%;
}

#abundance_radio{
    font-weight:300;
    margin: 16px 0;
    font-size: 20px;
    color:#000000;
    line-height: 1.25;
    margin: auto;
    width: 90%;
}

#abundance_graph {
    margin: auto;
    width: 90%;
}

#graph_dropdown_objects {
    display: flex; 
    flex-direction: row;
    margin: auto;
    width: 90%;
}

#dropdown_objects {
    padding: 10;
    flex: 20%;
}

#graph_objects {
    padding: 10;
    flex: 80%;
}

#dropdown_and_table{
    margin: auto;
    width: 90%;
}

#table_dropdown {
    padding: 10;
    flex: 20%;
}

#table_object {
    padding: 10;
    flex: 80%;
}  
