h1 { text-align: center; font-weight:700; margin: 16px 0; font-size: 32px; color:#000000; line-height: 1.25;}
h2 { text-align: center; font-weight:700; margin: 16px 0; font-size: 28px; color:#000000; line-height: 1.25;}
p { text-align: center; font-weight:700; margin: 16px 0; font-size: 16px; color:#000000; line-height: 1.25;}
